*{
    background-color: #edede9;
}


.GarlicBox{
    padding:30px;
    margin:auto;
    width: 300px;
    text-align: center;
    background-color:#e3d5ca;
}

.TurkeyBox{
    padding:30px;
    margin:auto;
    width: 300px;
    text-align: center;
    background-color:#e3d5ca;
}
.Salmonbox{
    padding:30px;
    margin:auto;
    width: 300px;
    text-align: center;
    background-color:#e3d5ca;
}

.MainPage{
    padding:30px;
    margin: 100px auto auto;
    width: 300px;
    background-color: #d6ccc2;
    text-align: center;
}

